.resume-span{
    color: white;
}

a:link{
    color: black;
    text-decoration: none;
}

.qrcode{
    display: none;
}

.wechatImg:hover + .qrcode{
    display: block;
    color: red;
}

.hover-card{
    transition: margin 0.2s ease-in-out;
}

.hover-card:hover{
    margin-top: -10;
}